@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.letter-tiles span {
    @apply items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10;
    font-size: 1.9rem;
    line-height: 2rem;
}

.letter-tiles span.small {
    font-size: 1rem;
    line-height: 1rem;
}

.letter-tiles span.medium {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

span.emerald, select.emerald {
    @apply bg-emerald-900 text-white;
}

.letter-tiles span.cyan {
    @apply bg-cyan-900 text-white;
}

.letter-tiles span.yellow {
    @apply bg-yellow-100 text-black;
}

svg.emerald {
    @apply text-emerald-900;
}

svg.cyan {
    @apply text-cyan-900;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.loading span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.playlist-tile {
    height: 208px;
    width: auto;
}

.main-content-full {
    @apply w-full mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg;
}

.main-content-wide {
    @apply w-5/6 mt-6 ml-auto mr-auto px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg;
}

.active-config-background {
    @apply bg-yellow-300;
}

.global-config-background {
    @apply bg-gray-800;
}

.main-content-small {
    @apply max-w-md mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg;
}

.panel {
    @apply px-6 py-4 shadow-md overflow-hidden sm:rounded-lg;
}

.panel-small {
    @apply px-2 py-1 bg-white shadow-md overflow-hidden sm:rounded-lg;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    @apply bg-emerald-900;
}

input:focus + .slider {
    @apply shadow-emerald-900;
    box-shadow: 0 0 1px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slider.active-config {
    @apply bg-yellow-300;
}

input:focus + .slider.active-config {
    @apply shadow-yellow-300;
    box-shadow: 0 0 1px;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.modal-scroll-height {
    max-height: 70vh;
}

.modal-label-field {
   width: 500px;
}

.tool-panel {
    min-height: 74px;
    @apply content-center;
}
